# ignore debug and release build directories and all build shit
/build/debug/
/build/release/
/build/msvc2012/IBP_holoren/Debug/
/build/msvc2012/IBP_holoren/Release/
/build/msvc2012/IBP_holoren/*.bmp
/build/msvc2012/IBP_holoren/*.sdf
/build/msvc2012/IBP_holoren/*.user
/build/msvc2012/IBP_holoren/*.filters

# ignore df directory as it changes often and contains binary files
/df/