# It seems like this ignore file here is importat, because git does not track
# directories only files and this `HTConfigs` directory had otherwise no files,
# so a top-level .gitignore did not work

!*/                 # however do not ignore subdirectories
!*.xml              # and do not ingore xml files
!.gitignore         # and of course have this .gitignore file included too
*                   # ignore everything in this directory and its subdirectories