# ignore compiled binaries
bin/*

# ignore temporary compilation files
obj/*

# ignore generated makefiles
Makefile
Makefile.Debug
Makefile.Release

# ignore debug Visual Studio debug files
*.pdb

# ignore Qt Creator user files
*.pro.user